{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
 <div  class = "container" style = "font-style: italic;" >
     <p ><img id = "indexfoto" src="static/main/image/dimka.jpg" class="img-thumbnail"  width="400" height="400" align="left"
     hspace="30">Привет, мое имя Дмитрий или как многие называют меня Димка).
    Я Junior разработчик и увлекаюсь программированием и постоянно развиваю свои навыки в области разработки на языке Python.
    Мой опыт работы включает в себя создание веб-приложений с использованием фреймворка Django,
    написание скриптов для автоматизации задач и разработку приложений для анализа данных.
    Я имею знания в основных концепциях языка Python, таких как работа с функциями, классами, модулями,
    обработка исключительных ситуаций, работа с базами данных и многим другим.
    Также я знаком с Git и GitHub, что позволяет мне работать в команде и контролировать версии моего кода.
    Одним из моих главных качеств является ответственность. Я всегда стараюсь выполнять свою работу качественно и в срок, уделяя внимание каждой детали.
     Я также обладаю аналитическим мышлением и умением решать сложные задачи, что помогает мне находить эффективные решения в разработке программного обеспечения.
     Я открыт к общению и готов обмениваться опытом с другими разработчиками.
     Я уважаю мнение других и готов принимать конструктивную критику, чтобы улучшать свои навыки и стать лучшим разработчиком.

     Я также люблю читать книги по программированию и изучать новые языки программирования.
     Я верю, что постоянное обучение и развитие являются ключом к успеху в любой области.
     Я стремлюсь к постоянному улучшению своих навыков, изучаю новые технологии и инструменты, чтобы создавать более эффективный и качественный код.
     Я готов к новым вызовам и очень хочу работать в команде, чтобы достичь общих целей!
     Меня всегда привлекали технологии и программирование, поэтому я решил освоить язык Python и стать разработчиком.
         В данный момент я активно изучаю язык и работаю над различными проектами, чтобы улучшить свои навыки.
На этом сайте я предлагаю различные задания и задачи на Python, которые помогут вам также улучшить свои знания в этой области.
         Я стараюсь сделать задания интересными и практичными, чтобы вы могли применять полученные знания на практике.
Кроме того, я всегда готов помочь вам, если у вас возникнут вопросы или проблемы при выполнении заданий.
         Вы можете связаться со мной через контактную форму на сайте или написать мне на электронную почту.
Я надеюсь, что мой сайт-тренажер поможет вам освоить язык Python и достичь своих целей в области программирования.
         Спасибо, что выбрали мой сайт и удачи в изучении Python!
     </p>

  </div>

<div class="container-fluid" align="center">
    <img src="static/main/image/balakirev.jpg" class="img-thumbnail"  width="600" height="300" hspace="30">
    <img src="static/main/image/overone.jpg" class="img-thumbnail"  width="600" height="300"  hspace="30">
</div>

{% endblock %}