{% extends 'main/base.html' %}

{% block title %}Python{% endblock %}

{% block content %}
<div class="container">
    <h1>Python</h1>
    <p>Python - это высокоуровневый язык программирования, который был создан в 1991 году Гвидо ван Россумом.
    Он широко используется во многих областях, включая веб-разработку, научные вычисления, искусственный интеллект, машинное обучение и многое другое.
    Python имеет простой синтаксис и является очень читаемым, что делает его отличным языком для начинающих программистов.
    Кроме того, Python имеет огромную базу библиотек и инструментов, которые облегчают разработку приложений и ускоряют процесс программирования
    Если вы хотите научиться программированию или ищете новый язык для своих проектов, Python - отличный выбор!</p>
</div>
{% endblock %}